<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

<h1>About Me: Abhay Prabhu</h1>

    <p>Greetings! Welcome to my About HTML page. My name is Abhay Prabhu and I am a senior Finance & Information Systems double
    major at the University of Maryland. Over the past 4 years, I have gained an in-depth knowledge of how to
    approach problems and complex business challenges through a perspective that combines <em>both</em>
    of my financial & technological skill-sets. Below I have added a few more items to give you a better
    idea about myself! </p>

<!-- This is a comment. Above I have included a code of a heading at level 1 and below the heading I have included
a paragraph where I begin my explaining that this is my "About" HTML page begin by explaining a bit
more of an introduction about myself. -->

<h2>My professional career goals:</h2>
<p>In terms of my professional aspirations, after graduating college, I aim to work in a niche financial services
position that entails working with technology & data such as risk management, IB (technology sector), and various other
finance/data analytics positions. Here are some examples of things that I would want out of an <em>ideal</em> job
position:</p>

<ol>
    <li>Work-life balance</li>
    <li>Growth <em>and</em> Career development</li>
    <li>Collaborative environment <strong>(Extremely important to me)</strong></li>
    <li>Learning opportunities <strong>(Non-negotiable)</strong></li>
</ol>

<!-- This is a comment. Above I have included a code of a heading at level 2 regarding my professional career
goals. Below the heading I have included a paragraph detailing my preferred goals and potential job aspirations
post graduation. In addition to this, after the paragraph, I have included an ordered list of some things that I
would want out of a ideal/dream full-time position. In this ordered list I use <strong> and <em> to bring out
importance and emphasize key words for things I look for in the ideal position. -->


<h2>Here are some of my most favorite things to do in my free time:</h2>
<ul>
    <li>Spend time with family (my most <strong><em>favorite</em></strong> activity)</li>
    <li>Play basketball</li>
    <li>Go on walks and relax outdoors</li>
    <li>Play the piano</li>
</ul>

<!-- This is a comment. Above I have included a code of a heading at level 2 where I explain
my most favorite things that I enjoy doing in my free time. Below the header, I have included an unordered list
with activities that I enjoy doing in my free time. I have also included a <strong> text formatting
element to bring importance to an activity I listed-->


<h4>Here are a few examples of courses I've taken throughout college:</h4>

<table>

<tr>
    <th>Course</th>
    <th>Semester Taken</th>
</tr>

<tr>
    <td>BMGT 220: Accounting I</td>
    <td>Spring 2021</td>
</tr>

<tr>
    <td>BMGT 343: Investments</td>
    <td>Fall 2022</td>
</tr>

<tr>
    <td>BMGT 340: Corp. Finance</td>
    <td>Spring 2021</td>
</tr>

</table>

<!-- This is a comment. Above I have included a code of a heading at level 4 that details
examples of courses that I have taken throughout college. Specifically, below the header, I have
incorporated a table with 3 rows that shows 3 classes and 3 semesters that I took each class within.
I have utilized the table headings, table rows, and table data to incorporate these 3 classes/semesters in a
tabular format. -->

<p> Here is a link to my <a href = "/hello"> hello page</a></p>


<h4>Here are two of my favorite Websites:</h4>

<p>A link to my <strong>most favorite</strong> news outlet, <a href="https://www.nytimes.com/" target = "_blank">The New York Times</a></p>

<p> A link to my favorite sports coverage outlet, <a href="https://www.sbnation.com/" target = "_blank">SB Nation</a></p>

<!-- This is a comment. Above I have included a code of a heading at level 4 that details
two of my favorite websites. I have included the two websites in an absolute hyperlink which open
in a new browser tab. -->

<p>Here is a picture of the Smith logo:</p>

<a href= "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" target = "_blank">
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width = "267" height = "72"
         alt = "The Smith School Logo"></a>

</body>
</html>